@use 'variables';
@use 'functions';
@use 'helpers';
@import 'buttons';

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: functions.base_size();
    box-sizing: border-box;
}
.window{
    width: 100vw;
    height: 100vh;
    background: variables.$primary-color;
}
.music-icon{
    --size: 319px;
    width: var(--size);
    height: var(--size);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 4px solid #242424;
    border-radius: 4px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    img{
        width: 100%;
    }
}

.controller{
    background: linear-gradient(transparent, #2A2A2A);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;

    .controller-internal{
        padding: 19px 38px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}